* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}
html,
body {
  width: 100%;
  height: 100%;
}
#minicircle{
    transition: 0.15s;
    width: 10px;
    height: 10px;
    position: absolute;
    z-index: 999;
    border-radius: 50%;
   
    background-color: white;
}
.bounding{
    width: fit-content;
    overflow: hidden;
}
.bounding .boundingelem{
    transform: translateY(100%);
}
#main {
  width: 100%;
  background: #000;
}
#hero {
  height: 100vh;
  background: #000;
  color: white;
}
#nav {
  padding: 20px 40px;
  color: white;
  display: flex;
  justify-content: space-between;
}
#nav a {
  color: white;
  text-decoration: none;
  font-size: 18px;
}
#heading{
    margin-top: 90px;
}
#heading h1{
    margin-left: 30px;
    opacity: .7;
    font-size: 9vw;
    text-transform: uppercase;
    line-height: 1;
}
#heading #secoundh1{
    margin-left: 230px;
}
.blocktext{
    display: flex;
    flex-direction: column;
    align-items: end;
    width: fit-content;
   
}
.blocktext h5{
    text-align: right;
    text-transform: uppercase;
    font-size: 15px;
}
#chhotiheadings{
    display: flex;
    flex-direction: column;
    align-items: end;
    margin-top: 100px;
    padding-right: 30px;
    text-transform: uppercase;

}
#chhotiheadings h5{
    text-align: right;
    margin-top:.5vw;
    /* font-size: 1vw; */
}
#herofooter{
    padding: 0 2vw;
    margin-top: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#herofooter a{
    color: white;
    text-decoration: none;
    text-transform: uppercase;
}
#herofooter #iconset{
    display: flex;
    gap: 5px;
}
#herofooter .circle{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #888;
}
#second{
    padding-top: 200px;
    padding-right: 10vw;
    height: 100vh;
    background: black;
    color: white;
    position: relative;

}
#second .elem{
    width: 100%;
    border-top: 1px solid white;
    padding: 3vw 3vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 0;
    position: relative;
    
}
#second .elem h1{
    text-transform: uppercase;
    font-size: 7vw;
    opacity: .7;
}
.elemlast{
    border-bottom: 1px solid white;
}
.elem img{
    position: absolute;

    z-index: 999;
    height: 150%;
    opacity: 0;
}
#about{
    background: #000;
    padding: 10vw 5vw;
    color: white;
    display: flex;
    align-items: center;
    gap: 50px;
    padding-left: 35vw;
}
#about img{
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 50%;
}
#textabout{
    width: 30rem;

}
#textabout h5{
    text-transform: uppercase;
    opacity: 0.8;
    margin-bottom: 10px;
}
#textabout p{
    line-height: 1.7;
    margin-bottom: 30px;
}
#textabout a{
    padding: 12px 22px;
    border: 1px solid white;
    border-radius: 100px;
    color: white;
    text-decoration: none;
    font-size: 12px;
}
#subscribe{
    background: #000;
    color: white;
    padding: 20px 30px;
    padding-bottom: 10vw;
}
#subscribe h5{
    text-transform: uppercase;
    opacity: .6;
}
#subscribe h3{
    text-transform: uppercase;
    font-size: 14px;
    margin-top: 10px;
}
#footer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px 30px;
    background: #000;
    color: white;
}
#footer a{
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    font-size: 14px;
}
#footerleft{
display: flex;
gap: 20px;
}
#footerright{
    display: flex;
    gap: 20px;
}


 @media (min-width:300px) and (max-width:540px){
    #heading #secoundh1 {
    margin-left: 77px;
}
.blocktext h5 {
    font-size: 10px;
}
#nav {
    padding: 20px 12px;
}
#chhotiheadings h5 {
    font-size: 14px;
    line-height: 20px;
}
#chhotiheadings {
    margin-top: 80px;
    padding-right: 12px;
}
#herofooter {
  position: absolute;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 10px;
    bottom: 20px;
    /* width: 100%; */
}
#hero {
position: relative;
}
#herofooter a {
    font-size: 14px;
    width: 100%;
}
#herofooter .circle {
    width: 19px;
    height: 19px;
}
#hero {
    height: 100vh;
}
#second {
    padding-top: 0;
    height: 0px;

}
#about {
    padding: 200px 100px 10px 10px;
    gap: 20px;
text-align: center;
    flex-direction: column;

}
#textabout p {
    width: 100%;
}
#about {

padding: 0;
margin-top: 60vw;
    gap: 30px;

}
#textabout p {
    line-height: 1.7;
    margin-bottom: 30px;
}
#textabout {
    width: 100%;
}

#subscribe {
    background: #000;
    color: white;
    padding: 0;
    padding-bottom: 10vw;
    text-align: center;
    margin-top: 100px;
}

#footer {

    padding:20px 0;
gap: 10px;
    flex-direction: column-reverse;
}

#footerright {

    gap: 10px;
}
#footer a {
    font-size: 12px;
}
} 

/* ===========extra small device responsive done===================== */


/* ============small device responsive start======================= */
  @media (min-width:541px) and (max-width:800px){
    #heading #secoundh1 {
    margin-left: 97px;
}

#nav {
    padding: 20px 12px;
}

#herofooter {
  position: absolute;
    justify-content: space-between;

    bottom: 50px;
  width: 95%;
}
#hero {
position: relative;
}
#herofooter a {
    font-size: 14px;
    width: 100%;
}
#herofooter .circle {
    width: 22px;
    height: 22px;
}
#hero {
    height: 100vh;
}
#second {
    padding-top: 0;
    height: 0px;

}

#about {
    padding: 0 10px !important;
    gap: 20px;
    text-align: center;

    flex-direction: column;
}

#textabout p {
    width: 100%;
}
#about {

padding: 0;
margin-top: 60vw;
    gap: 30px;

}
#textabout p {
    line-height: 1.7;
    margin-bottom: 30px;
}
#textabout {
    width: 100%;
}

#subscribe {
    background: #000;
    color: white;
    padding: 0;
    padding-bottom: 10vw;
    text-align: center;
    margin-top: 100px;
}

#footer {

    padding:20px 0;
gap: 10px;
    flex-direction: column-reverse;
}

#footerright {

    gap: 10px;
}
#footer a {
    font-size: 12px;
}
}

/* large device responsive start======================== */
  @media (min-width:800px) and (max-width:1000px){
#herofooter {
  position: absolute;
    justify-content: space-between;
    bottom: 50px;
  width: 95%;
}
#hero {
position: relative;
}
#herofooter .circle {
    width: 22px;
    height: 22px;
}
#hero {
    height: 100vh;
}
#second {
    height: 0px;

}

#textabout p {
    width: 100%;
}
#about {

padding: 0;
margin-top: 60vw;
    gap: 20px;

}
#textabout p {
    line-height: 1.7;
    margin-bottom: 30px;
}
#textabout {
    width: 100%;
}

#subscribe {
    margin-top: 100px;
}
}
/* ============large device responsive responsive done================ */








/* =======extra large device responsive start=============== */
  @media (min-width:1001px) and (max-width:1400px){
#herofooter {
  position: absolute;
    justify-content: space-between;
    bottom: 50px;
  width: 95%;
}
#hero {
position: relative;
}

#hero {
    height: 100vh;
}
#second {
    height: 80vh;

}

}
